$fuenteTitulos : 'Caveat', cursive;
$fuentePrincipal : 'Raleway', sans-serif;

//colores
$anaranjado: #CF9859;
$anaranjadoC: #e7ac6c;
$rosado: #db8795;
$rosadoOscuro: #C94A62;
$crema: #f5e1be;
$verde: #008081;
$morado: #520e74;
$blanco: #FFFFFF;
$negro: #000000;

//media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
//fuentes
$delgada: 300;
$regular: 400;
$bold: 700;

//separaciones
$separacion: 5rem;